.hello {
    background: radial-gradient(circle, rgba(225,224,226,1) 0%, rgba(125,122,122,1) 62%);

}
.me {
    width: 50vw;
    
    padding-top: 20vh;
    padding-left: 10vh;
    float: left;
}

.pic {
    float: right;   
    padding-top: 15vh;
    padding-right: 10vh;
    width: 35vw;
    height: 90vh;
    
}