.text {
    background: url("/Images/Tile.jpeg");
    background-size: contain;
    font-family: Impact, fantasy;
    margin: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 250%;
    font-weight: 900;
    word-spacing: 20px;
    text-align: center;
    color: black;
};